[2014-07-17 09:20] ChristoRibeiro opened #6 "MongoDB support"
Hi,

Do you plan to support MongoDB id?

[2014-08-05 20:58] manikantag opened #8 "Publish into Maven Central"
Hi, publishing into Maven Central makes it very easy to integrate into build process.

Thanks

[2014-08-05 21:11] manikantag opened #9 "Thread safe?"
Is using once created `new Hashids("this is my salt")` (probably, as a static variable) is thread safe? or do we've to synchronize it manually?

Thanks.

[2014-08-05 21:23] manikantag opened #10 "ArrayIndexOutOfBoundsException"
[code]

Above call giving `ArrayIndexOutOfBoundsException`. I think if the value is `long`, this exception is coming. For `int` values, working fine.

[2014-08-26 17:34] #10 closed, assigned to nobody

[2014-08-27 04:55] snakecult opened #11 "Failing for very large numbers?"
When running some random data through Hashids I found this failure:

[code]

java.lang.AssertionError:
Expected: 3945448269169105408L
     but: was 3945448269169105809L

[2014-09-16 08:47] #6 closed, assigned to nobody

[2014-09-16 08:47] fanweixiao opened #13 "Update README file"
update for v1.0.0

[2014-09-22 03:38] newhoggy opened #14 "Wrong salt doesn't work as advertised in documentation"
[code]

Documentation says it should be `[]`, which is `Array()` but `Array(25264)` was the result.

[2014-09-25 04:44] #9 closed, assigned to nobody

[2014-09-30 15:37] Guillermo-Varela-Movile opened #15 "Remove unnecessary dependencies"
The Log4j dependency in pom.xml is not really necessary for this project since no Logger is ever used in the code and it ends up adding "mail-1.4.jar" and "activation-1.1.jar" both also unnecessary.

In any case if a logging dependency is necessary, it would be better to use SLF4J, so this library can be used in projects with Logback or any other logging implementation.

Thanks.

[2014-10-25 17:00] #15 closed, assigned to nobody

[2014-10-25 17:27] #11 closed, assigned to nobody

[2014-10-25 18:35] #14 closed, assigned to nobody

[2014-10-25 18:39] #13 closed, assigned to nobody

[2015-01-14 14:20] pawelantczak commented on #8
Bump!

[2015-01-15 20:48] rartavia commented on #8
@fanweixiao any progress? Can we have it in jcenter?

[2015-02-10 15:05] jitpack commented on #8
Btw, it is easily available from https://jitpack.io/#jiecao-fm/hashids-java/v1.0.0 : )

[2015-02-10 17:57] manikantag commented on #8
@jitpack Great! Very nice idea. Thanks.

[2015-02-11 05:50] fanweixiao commented on #8
@jitpack :+1:

[2015-03-05 12:10] giulp commented on #8
@fanweixiao maybe this could be relevant and useful [rultor](http://www.yegor256.com/2014/08/19/how-to-release-to-maven-central.html)

[2015-03-05 18:30] fanweixiao commented on #8
@rultor hello

[2015-03-05 18:31] rultor commented on #8
@fanweixiao Hi there! I understand a few simple commands: "merge", "deploy", etc. [This page](http://doc.rultor.com/basics.html) explains them briefly. Any questions or bug reports are [welcome](https://github.com/yegor256/rultor/issues). Have fun :)

[2015-03-05 18:36] fanweixiao opened #17 "Release v1.0.1"
@rultor release, tag is `v1.0.1`

[2015-03-05 18:37] rultor commented on #17
@fanweixiao OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2380-1)

[2015-03-05 18:39] rultor commented on #17
@fanweixiao Oops, I failed. You can see the full log [here](http://www.rultor.com/t/2380-1) (spent 1min)

[2015-03-09 04:08] fanweixiao commented on #8
@rultor release, tag=`1.0.0`

[2015-03-09 04:09] rultor commented on #8
@fanweixiao OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/2379-77797654)

[2015-03-09 04:11] rultor commented on #8
@fanweixiao Oops, I failed. You can see the full log [here](http://www.rultor.com/t/2379-77797654) (spent 2min)

[2015-03-09 05:40] fanweixiao commented on #8
@giulp seems it's not easy to use rultor. I am not familiar maven-related things, if you have experience on this, can you help publishing this project to maven central? if sure, I can add you to collaborator so you can use rultor to release it :smile:

[2015-03-10 12:10] giulp commented on #8
@fanweixiao it'd be a pleasure and a honour to help :) count me in

[2015-03-10 17:03] fanweixiao commented on #8
@giulp I've invited you to a team for collaborating, please accept :)

[2015-03-17 02:18] tcollins commented on #8
:+1: for jcenter / maven central

[2015-03-28 19:57] Bessonov commented on #8
Now is 1.0.0 released. Any updates on this issue?

[2015-03-30 10:26] fanweixiao commented on #8
@giulp how's about the process :8ball:

[2015-03-31 13:24] giulp commented on #8
busy giulp's been investigating it

will push an update in a couple of days

[2015-03-31 15:46] fanweixiao commented on #8
@giulp :+1:

[2015-04-08 07:27] laguiz commented on #8
+1 for maven

[2015-04-14 06:23] ui4j opened #18 "Thread Safety"
Could you please document the javadoc if Hashids class is thread safe or not?

Thanks

[2015-05-06 06:35] #17 closed

[2015-05-06 06:39] fanweixiao commented on #18
@ui4j Can you send a PR about this :yum:

[2015-05-14 11:23] chrisport opened #20 "different salt can give random number or crash"
Hi,
When using different salt it should return empty array. But I recognized the behavior is quite unpredictable, there is a probability that it decodes to a wrong number instead or crashes with an ArrayIndexOutOfBoundsException.

Here and example that will decode to a wrong number:
[code]

assertion will fail, id[0] will be 81143

Same test with sampleId = 37l will cause "ArrayIndexOutOfBoundsExc

[2015-05-14 13:18] fanweixiao commented on #20
We should not expect `assertEquals(0, ids.length)` will be success when using different salts.

[2015-05-14 13:20] fanweixiao commented on #20
But crash should be avoid, should return empty array

[2015-05-14 13:37] chrisport commented on #20
Okay good.

Also in case somebody needs: duplicating the id will decrease the probability of receiving an id from an invalid token:
[code]

[2015-05-27 03:00] nmickuli opened #22 "Performance Issues"
I ran a quick stress test on this library and I'm seeing very poor and unpredictable performance. Generating 1,000,000 ids from the same Hashids instance (same salt) takes anywhere between 15 and 90 seconds on a 2.9GHz i7 CPU using 1.8 GB of RAM. There's also a strange stall somewhere between 30k and 60k in the test loop, after which the rest of the test runs quickly.

Here's my test case:

[code]

[2015-06-02 06:41] shane-axiom commented on #8
:clock1: :clock2: :clock3: :clock4: :question:

[2015-06-03 07:25] giulp commented on #8
Sorry guys too busy atm maybe someone else wants to take the task

2015-06-02 8:41 GMT+02:00 Shane StClair <notifications@github.com>:

[2015-06-03 22:46] shane-axiom commented on #8
Created a [Sonatype JIRA ticket](https://issues.sonatype.org/browse/OSSRH-15882) to try to get this moving.

[2015-06-04 07:12] fanweixiao commented on #8
@shane-axiom I've added you to the team, you'll have admin access to this repo :)

[2015-06-04 15:30] thwatson commented on #8
I'm about to prepare the repo.  Per the ticket, only Shane will get a deployer role.  If any other team members need deployer roles, just comment on the ticket and I'll add you.

[2015-06-04 19:16] shane-axiom commented on #8
Thanks @thwatson. @fanweixiao I notice that the Maven groupId for the project was `fm.jiecao.lib` when v1.0.0 was released, and I set up the OSS repo to use the current groupId `org.hashids`. Can I go ahead and release v1.0.1 and push that?

[2015-06-05 12:45] fanweixiao commented on #8
Yes, I will try to remove the old v1.0.0 version, we should use `org.hashids` as groupId. thanks a lot.

[2015-06-06 21:45] shane-axiom commented on #8
Alright, v1.0.1 is publushed and available via Maven Central!

[2015-06-06 21:48] #8 closed

[2015-06-08 07:09] fanweixiao commented on #8
@shane-axiom :+1: :+1:

[2015-06-09 19:42] Bessonov commented on #22
But, unfortunately, your benchmark says nothing about performance. Microbenchmarking is hard, partially on modern processors with HT, multilevel caches, JIT compiler, concurrent GC and so on...

[2015-06-09 19:53] shane-axiom commented on #22
FWIW this test produces stable results for me on a 2.67GHz proc (Intel Xeon W3520):

    time taken: 18 seconds
    hashes per second: 53949.07207596029

[2015-06-09 19:53] nmickuli commented on #22
This wasn't intended to be a benchmark. I'm not comparing the performance of this code to anything else.

I was simply trying to point out that, at least on my machine, there were large variations in the time required to complete the above test, and that the test had strange behavior (like the stalls that I mentioned). I wouldn't expect that, given that this code is simply generating hashes.

Hey,

[2015-07-24 12:20] eskatos commented on #18
@fanweixiao do you happen to know if it is thread safe or not ?

[2015-08-30 06:37] rauanmaemirov commented on #18
I tried to use the tool in multi-thread environment generating ~400k hashes from unique set of numbers and after about 100k generated hashes something breaks. I couldn't find the issue so I gave up and chose different path.

[2015-08-30 08:54] ui4j commented on #18
Hi @rauanmaemirov Could you please share your alternative solution.

[2015-08-30 09:29] rauanmaemirov commented on #18
@ui4j That depends on what is your case. My task required to simply generate some unique string id, so I ended up using hex of current timestamp in millis.

You probably might try wrapping your encoding code in `synchronized` block.

[2015-08-30 09:48] ui4j commented on #18
Thanks for the suggestion. I found [alternative](https://github.com/werval/werval/blob/master/io.werval/io.werval.api/src/main/java/io/werval/util/Hashids.java) implementation for the Hashids api. But i am not sure if its [thread safe](https://github.com/werval/werval/issues/260) or not.

[2015-10-29 07:22] sirotopr opened #23 "Non compatible output when alphabet has no O and no 0"
Both this Java implementation and @newhoggy's [hashids-scala](https://github.com/newhoggy/hashids-scala) output a wrong value while using the following alphabet: `ABCDEFGHIJKLMNPQRSTUVWXYZ123456789`. It's comprised of all capital case letters except `O` plus all digits except `0`. Adding either `O` or `0` makes it work again. Something is wrong in your code when both are missing.

Here are my test

[2015-10-29 12:42] newhoggy commented on #23
Hi @sirotopr,

I've done some preliminary investigations and have determined that the underlying encode and decode methods are good.  It is just a matter of initialisation of the `Hashid` object not working properly.

I haven't yet worked out why the initialisation isn't working, but if you desire, there is an new Scala library version that exposes the internal state as a `HashidImpl` case class.

[2015-11-17 13:56] gtrefs commented on #20
Any salt other than `this is my salt` results into an `ArrayIndexOutOfBoundsException`

[code]

This renders the current implementation not useable.

[2016-02-15 14:08] #23 closed

[2016-08-12 21:44] 0x3333 commented on #20
ArrayIndexOutOfBoundsException crash has been fixed in PR #27 .

The collision behavior is the same as the default javascript implementation, it is just a collision within different salts. Can be less possible increasing the `minHashLength`.

Collisions is not possible within the same salt, but perfectly possible in a small sample space as 4 lenght hash.

[A-Z,a-z,0-9] 62^4 = almost 14 million uni

[2016-08-14 19:13] #20 closed

[2016-08-15 14:38] 0x3333 commented on #18
@rauanmaemirov do you still have this test case?

[2016-08-18 07:17] #18 closed

[2016-09-08 02:24] itay1336 opened #29 "Add additonal prefix/suffix for salt version"
Since we are using a salt, it might be a good idea to have a version as part of the actual id.
That will allow us to change the salt later if we need to.
I'm not sure if this is out of scope for this library or maybe should be added as a best practice.
What do you guys think?

Cheers,
Itay

[2016-09-08 02:31] 0x3333 commented on #29
I didn't get it.

I don't believe a mutable object would be good in this case anyway.

If you want another salt, create another instance. They are relatively cheap to create and you normally shouldn't need that much instances. Just reuse them.

[2016-09-08 02:32] 0x3333 commented on #29
Ops...

I didn't get it...

[2016-09-08 02:39] itay1336 commented on #29
I meant that if you encode a version together with the id later on you could map the version to the salt/alphabet you used, that way you could change it at any given time because you always use the version to choose the alphabet and the salt.
Think about it as a simple mapping: version => (salt, alphabet)

[2016-09-08 02:46] 0x3333 commented on #22
Hi @nmickuli

I know this is an old issue, but is like to address it.

About your issue,  as @Bessonov said, this kind of benchmark is complicated.

I changed a bit your code to include a warmup phase, added `-XX:+PrintCompilation, -verbose:gc` so we know if JVM is doing any work in between, also I used the same salt every time. Different salts may be faster than others.

In my tests I got very co

[2016-09-08 02:55] 0x3333 commented on #29
Oh! Know I get it. :)

This is outside of the scope of the library, which is a port of js version. If we add this we would diverge.

This could be easily done by appending the version, a number, letter, or both to the generated hash, and before decode, you get the version and use the appropriate instance.

When I get back to my computer I'll write some code to demonstrate.

[2016-09-08 02:58] itay1336 commented on #29
cool! that's what I figured. I just thought it's worthwhile to add it as a best practice. it's always a good idea to keep some version when encoding anything.

[2016-09-08 04:25] fanweixiao commented on #29
@itay1336 I will close this issue, any discussion about this we can move on :)

[2016-09-08 04:25] #29 closed

[2016-10-03 21:48] philbayer opened #30 "ArrayIndexOutOfBoundsException from encode(long... numbers)"
Problem:
If the list of longs passed to the method `public String encode(long... numbers)` contains a negative value, it may result in a `java.lang.ArrayIndexOutOfBoundsException` being thrown.  Here is the offending code snippet (see added inline comments.

[code]

Possible Solutions:
1) In the method `public String encode(long... numbers)` replace the following line

`if (number > 90071992547409

[2016-10-03 22:08] 0x3333 commented on #30
Fixed.

When encoding negative numbers, the result should be `""`(empty string), same behaviour as the javascript implementation.

[https://github.com/ivanakimov/hashids.js/blob/master/lib/hashids.js#L111-L115](https://github.com/ivanakimov/hashids.js/blob/master/lib/hashids.js#L111-L115)

[2016-10-03 22:08] #30 closed

[2016-10-03 22:26] 0x3333 commented on #30
Just to make it clear, the fix has not been released. It has been fixed in HEAD.

[2016-12-09 07:42] maxiwu opened #31 "array index out of bound bug"
if you call the encode(number) with a random large number.
then numberHashInt += (numbers[i] % (i+100)) has a chance to return a negative number, in my case -35.
the next calculation use alphabet.toCharArray()[numberHashInt % alphabet.length()] could thow an ArrayIndexOutOfBoundsException.

[2016-12-09 14:51] 0x3333 commented on #31
Could you provide this large number?

[2016-12-09 17:34] 0x3333 commented on #31
This piece of code is a from the reference implementation, [hashids.js](https://github.com/ivanakimov/hashids.js/blob/master/lib/hashids.js#L172).

In javascript `charAt` return an empty string if the index is out of bounds, in Java it throws an exception. We should range check it.

As soon as you provide the test number I'll work on it.

[2016-12-12 20:30] arcticicestudio commented on #31
Maybe you want to check [this block](https://github.com/arcticicestudio/icecore-hashids/blob/develop/src/main/java/com/arcticicestudio/icecore/hashids/Hashids.java#L480#L485) of my Hashids implementation which already handles this issue.

Anyway, isn't this issue related to #30 and should already be fixed?

[2016-12-12 21:13] 0x3333 commented on #31
@arcticicestudio I'll take a look later today. Thanks.

[2016-12-13 18:21] 0x3333 commented on #31
Well, as long as I can tell, I found a couple of problems:

1. The `numberHashInt` variable is an `int` which in some edge cases, will overflow, generating a negative number. [Here](https://github.com/jiecao-fm/hashids-java/blob/master/src/main/java/org/hashids/Hashids.java#L250).

2. We don't check for negative numbers in the input, we must. [hashids.js](https://github.com/ivanakimov/hashids.js/b

[2016-12-14 18:11] 0x3333 opened #32 "Check for negative input numbers"
We don't check for negative input numbers in encode method.

See [Issue #31 comment](https://github.com/jiecao-fm/hashids-java/issues/31#issuecomment-266818646) / #31

[2016-12-14 21:16] #31 closed

[2016-12-14 21:17] #32 closed

[2016-12-14 21:21] 0x3333 commented on #22
As long as I could check, results got pretty similar.

[code]

Number of hashes per second is kind of increasing as the JVM get hot.

I'll close this. If new data is available, fell free to open it again.

Thanks.

[2016-12-14 21:21] #22 closed

[2016-12-14 21:30] 0x3333 opened #33 "Create a new Release"
@fanweixiao what do you think about creating a new release?

We have some bug fixes that would be nice to release.

I already asked Nexus for permission to release new artifacts.

Let me know if you agree, then I'll do it.

[2016-12-16 10:27] fanweixiao commented on #33
Totally agree.  This new release will be a great progress.  Cheers!

[2016-12-31 06:47] #33 closed

[2017-01-06 09:14] bichtv opened #35 "hashids not support number > 9007199254740992L"
hashids not support number > 9007199254740992L. can you update source to support number > 9007199254740992L ?

[2017-01-06 13:54] 0x3333 commented on #35
This is a limitation of the algorithm. All hashids have it. We can't do it.

[2017-01-06 13:54] #35 closed

[2017-01-06 15:24] arcticicestudio commented on #35
This limit provides more than 9 quadrillion (!) possible numbers. I think even YouTube hasn't reached this amount of video ID's if they'd use this algorithm.
Maybe you should describe what's your actual problem with this limit. There are workarounds to get above this limit like for example using a array with multiple `long` numbers which can be multiplied when they get decoded.

[2017-01-06 15:36] bichtv commented on #35
thanks for the help, I have solved my problem with hashid

[2017-01-06 15:37] fanweixiao commented on #35
congratulations @bichtv , and, it's hashids :smile:

[2017-01-09 13:18] gikarasojo opened #36 "Specifying custom hash alphabet"
I have extracted the below extract  from [your main page](https://github.com/jiecao-fm/hashids-java#specifying-custom-hash-alphabet)

`Hashids hashids = new Hashids("this is my salt", 0, "0123456789abcdef");
String hash = hashids.encode(1234567L);`

`b332db5`

**the alphabet consists of 6 letters! a,b,c,d,e,f**

[2017-01-10 07:02] fanweixiao commented on #36
any problem? the algorithm designed as you only need [0-9] and [a-f] chars?

[2017-01-10 09:02] 0x3333 commented on #36
@fanweixiao what @gikarasojo is trying to say is that we state that:
`only four letters`, but actually we have six.

[2017-01-10 09:05] #36 closed

[2017-01-10 09:06] fanweixiao commented on #36
@0x3333 @gikarasojo Oh, I see! yep, should be `six`, haha

[2017-01-20 21:49] lichtsinn opened #37 "Performance Improvement"
Small code change can improve performance quite a bit.

[2017-01-21 21:57] 0x3333 commented on #37
Nice. Asked for a small change and then we merge. Thanks.

[2017-02-07 18:18] #37 closed

[2017-03-12 19:36] nusco opened #41 "Hashids doesn't respect alphabet"
Try this (it takes a while):

[code]

Output:

[code]

Why do 9 characters out of 26 never appear? That looks like a bug.

It might also be a side effect of the algorithm, and these characters might finally appear when you encode extremely large numbers. But doesn't that behavior result in hashes that are generally longer than they could be? I would expect that the algorithm tries to make good use

[2017-03-12 19:50] nusco commented on #41
I took a look at the code and then the main project page, and I found the answer to my question: separators. 😊

I understand the use case for using these characters as separators. It's a pity that you cannot change them though. (For example, our system is targeted at the German public, so they have different swear words. 😄 I'll close this issue as it's clear that the current behavior is the intend

[2017-03-12 19:50] #41 closed

[2017-03-13 21:14] arcticicestudio commented on #41
I've implemented Hashids for one of my private libraries which I've modularized and released as public library [IceCore Hashids](https://github.com/arcticicestudio/icecore-hashids) which is also listed as a further Java implementation on the [official Hashids website](http://hashids.org/java).
It is designed to be more OOP aware, using a [`Hashid`](https://github.com/arcticicestudio/icecore-hashid

[2017-03-15 09:49] nusco commented on #41
Thank you, @arcticicestudio. I'll give it a look. We rolled out a simple in-house solution in the meantime, but we'll still need a library such as Hashids once we reach more than a few thousands of codes in production.

[2017-05-17 12:34] ulisses79 opened #42 "Question about the output"
Sorry for maybe naive question but....
Assuming that my alpha is complete i.e. contains all characters and digits.
I wonder if there is a possibility that _encode_ method would return a hash which contains only digits?
Other words is there a string which can be encoded and the result contains only digits?
Is it guaranteed that at leat one letter is present in the output?

[2017-05-17 14:14] 0x3333 commented on #42
No, alphabet must contain at least 16 unique characters, including numbers. This is by design.
There is no guarantee that the output will contains a group of the alphabet characters.

[2017-05-17 14:14] #42 closed

[2017-05-17 14:23] ulisses79 commented on #42
Thank you for the answer.

[2017-05-29 03:04] ethauvin opened #43 "ArrayIndexOutOfBoundsException issues"
Both:
[code]
and:

[code]
are causing exceptions in various places.

I realize that they are not valid hashes, but the exception should either be declared or handled.

Hope this helps.

[2017-05-29 15:04] Ramblurr commented on #43
I also ran into this today for the first time.

I definitely think that `ArrayIndexOutOfBoundsException` isn't the appropriate exception to throw. An `IllegalArgumentException` with an error message would be consistent with other exceptions thrown by the library.

[2017-05-29 15:26] 0x3333 commented on #43
I'll check on these today. I'll keep you posted on that.

[2017-05-29 17:46] 0x3333 commented on #43
I fixed it.

Instead throwing an exception, I return an empty array `[]`. This is the same behavior of the original library(Javascript).

[2017-05-29 17:46] #43 closed

[2017-06-09 20:27] kmandeville commented on #43
I have found two other occurrences where I get ArrayIndexOutOfBoundsException from deep in the HashIds code.
`Hashids hashids = new Hashids("this is my salt");
long[] numbers = hashids.decode("[]");`

and

`Hashids hashids = new Hashids("this is my salt");
long[] numbers = hashids.decode("()");`

Like the original submitter above, these aren't valid hashes, but I'm running into these errors in my

[2017-06-10 18:45] 0x3333 commented on #43
Hi @kmandeville , I'll look at this issue, but for the sake of organization, could you file another issue? Just to relate it in the commit.
I'll get to work on it right away
Thanks.

[2017-06-10 19:14] 0x3333 opened #44 "Removal of deprecated methods"
Deprecated methods:

[code]

have been deprecated since Sep 15, 2014, I think we should remove them in the next release.

@fanweixiao

[2017-06-10 19:42] 0x3333 opened #45 "ArrayIndexOutOfBoundsException"
From issue [Issue 43 - kmandeville](https://github.com/jiecao-fm/hashids-java/issues/43#issuecomment-307491507):

[2017-06-10 19:48] 0x3333 commented on #43
@kmandeville , never mind, I just created it(Issue #45) and fixed in master.

Thanks!

[2017-06-10 19:51] 0x3333 commented on #45
Fixed, instead finding all `charAt` that could throw an ArrayIndexOutOfBoundsException, I validate the decode method input, in case of invalid chars, return an empty array(Default JS implementation behaviour).

[2017-06-10 19:51] #45 closed

[2017-06-11 02:15] kmandeville commented on #43
Thank you!

[2017-06-13 16:24] kmandeville commented on #45
Will there be a new release in the near future? I'd rather not have to use a snapshot version

[2017-06-14 16:49] kmandeville commented on #45
I didn't expect there to be one just for this fix. Was just wondering what the current plan was so I could plan on my side accordingly. Thank you!

[2017-06-14 20:11] 0x3333 commented on #45
No problem! Subscribe to the issue #44 , when it got fixed probably we will have a new release! Thanks for your help!

[2017-06-15 03:54] fanweixiao commented on #44
Sorry for the delay response, yes, we should deprecate these.

[2017-06-15 03:54] #44 closed

[2017-06-30 09:29] vkorobkov opened #46 "base58 alphabet"
Hi,

What do you think about adding a constant(`public final static string BASE_58 = ...`) with base58(https://en.wikipedia.org/wiki/Base58) alphabet right into `Hashids` class?

Base58 alphabet looks very well to be used in url paths because it excludes many confusions when letters are different but seem similar visually(0 (zero), O (capital o), I (capital i) and l (lower case L) )

If you like t

[2017-06-30 14:50] 0x3333 commented on #46
Hi!
I believe that this is out of scope of the project. This can be easily implemented by the end-user.
Despite that, I believe we could add this info in the README.
Thanks.

[2017-06-30 14:50] #46 closed

[2017-07-03 16:28] opensso opened #47 "Why hashids has MAX_NUMBER limitation"
Hello,

I was looking into this great library for my project, but I quickly found undocumented limitation that this library doesn't support any number > 9007199254740992L.
Could you please explain the reasoning behind this limitation?

`ids.encode(new Random().nextLong()`

[2017-07-03 16:41] 0x3333 commented on #47
The original and reference implementation is a [JS](https://github.com/ivanakimov/hashids.js) version. JS number limitation is `(2^53 - 1)`. In the java implementation we used `Long` because `Integer` has a max value of `(2^31 - 1)`. As `Long` has a limitation of `(2^63 - 1)` we have to limit the upper bound.
That's why we cannot accept values greater than JS.

[2017-07-03 16:41] #47 closed

[2017-07-03 19:13] opensso commented on #47
Thanks for explanation. It would be nice to have ability to provide Max number as constructor argument.

[2017-07-11 09:36] syncml opened #48 "diffrent results in python and java with same alphabet and salt"
Python(2.7  hashids version=1.0.2):

java (hashids version=1.0.2):

if alphabet='0123456789abcdefghijklmnopqrstuvwxyz',  the result is nice.

It's a bug?

[2017-07-11 14:15] 0x3333 commented on #48
The correct response is `gr9gdg`, testing using your parameters, I got `gr9gdg` correctly.

How did you get `wwp5p6`?

![screen shot 2017-07-11 at 11 14 52](https://user-images.githubusercontent.com/289289/28072705-3486e43c-662a-11e7-9e2e-28d9a997eee1.png)

[2017-07-12 02:24] syncml commented on #48
Sorry. Sorry.Sorry.

My java app running the test case use the  1.0.1 version rather than 1.0.2 :( ，so it got incorrect response.
1.0.1 response is wwp5p6
1.0.2 response is gr9gdg

[2017-07-12 05:48] #48 closed

[2017-08-04 15:59] meiao opened #49 "StringIndexOutOfBoundsException when decoding a guard and minHashLength >= 3"
I got this exception when trying to decode some bad data. This test case illustrates the exception.
[code]
And it throws this exception.
[code]

Looks like any character that is in HashIds.guards will throw this exception.
Other input like "asdf" or any other character not in HashIds.guards seem to work ok.

Debugging, I noticed that on the call to _encode, usually an array with 0L is passed, but

[2017-08-04 16:06] meiao commented on #49
Having multiples of that character also throws the exception.
`hasher.decode("AAAAAAAAA");`

[2017-08-04 18:37] 0x3333 commented on #49
Hi meiao, I'll look into this issue and get back to you asap. Thanks.

[2017-08-04 18:58] 0x3333 commented on #49
Hi meiao,

This has been fixed on commit eaa4499f44226cbe7c (Issue #45). But this fix has not been released yet. As a workaround, you could build it yourself, until we release another version.

Thanks.

[2017-08-04 18:58] #49 closed

[2017-08-04 19:10] 0x3333 commented on #45
Just to inform a new version has been issued! 1.0.3.

[2017-08-04 19:10] 0x3333 commented on #49
Just to inform a new version has been issued! 1.0.3.

[2017-08-04 19:11] 0x3333 commented on #48
Just to inform a new version has been issued! 1.0.3.

[2017-10-06 08:43] yogitaAP opened #50 "Is there any way to provide maximum hash length"
The way I can provide a minimum character length for the generated hash. Can I provide a maximum hash length as well? If no, is there any workaround.

[2017-10-06 15:33] 0x3333 commented on #50
You have 4 constructors:

[code]

A maximum can't be provided.

[2017-10-06 15:33] #50 closed

[2018-02-24 12:28] gabrielhora opened #54 "Should we throw an exception for negative numbers as well?"
[When encoding](https://github.com/jiecao-fm/hashids-java/blob/master/src/main/java/org/hashids/Hashids.java#L132-L143) a number the library throw an exception if the number is loo long (greater than `MAX_NUMBER`) but return an empty string for negative numbers. IMHO this is a little unexpected, using two different behaviours for the same thing, input validation.

Since negative numbers are also i

[2018-02-28 15:29] 0x3333 commented on #54
I agree in the different behaviours, but I believe we should return an empty string. We must adhere to the original JS implementation, and in this case, it doesn't throw an exception. The original implementation doesn't have this limitation, but to have the same output in all implementations, we must limit the max to the JS max integer(https://developer.mozilla.org/en-US/docs/Web/JavaScript/Refere

[2018-02-28 15:59] gabrielhora commented on #54
Hi @0x3333, thanks for taking the time to check the issue.

Is there a specific reason why the behaviour should be the same as the JS lib? Maybe this is more common in JS but returning an empty string is a very weird way to define a erroneous input in Java, I think anyone working with this library in Java would expect an exception, or **maybe** a null (or Optional for Java 8+).

[2018-02-28 16:31] cazacugmihai commented on #54
In `Java`, for an inappropriate parameter, is thrown an exception ([IllegalArgumentException](https://docs.oracle.com/javase/8/docs/api/java/lang/IllegalArgumentException.html)). We should follow this rule.

[2018-02-28 18:31] 0x3333 commented on #54
@gabrielhora the reason is that all libraries implementing hashids do this. To be truth, this is not something I like, but I stick to it, something like rule of thumb.

For example, in all implementations(Here some examples, [C](https://github.com/tzvetkoff/hashids.c/blob/master/src/hashids.c#L201), [Swift](https://github.com/malczak/hashids/blob/master/Hashids.swift#L86), [Python](https://github.

[2018-02-28 18:35] cazacugmihai commented on #54
As long as you'll fix these issues in the next version (`2.0`), I think that it's okay.

[2018-02-28 18:44] arcticicestudio commented on #54
I also bothered with this limitations so I wrote a own implementation (listed on http://hashids.org/java) which is fully compatible with algorithm, but additionally includes **optional configurable** features like e.g. exception handling and disabling the maximum number size limit][icecore-hashids-ghdocs-features].

Maybe this can be ported to this library. This way it wouldn't be necessary to rel

[2018-02-28 18:55] gabrielhora commented on #54
Thank you for explaining @0x3333, that is understandable.

I don't think it's necessary to change the `IllegalArgumentException` to simply returning an empty string (as you suggested) in 1.1 release (or whatever) just to change it back to exceptions in a future 2.0 release, right?

Maybe we should just keep it like this and solve this inconsistency in the 2.0 release later?

[2018-02-28 19:21] 0x3333 commented on #54
I believe that we have 2 types of users, the one that are using the library in a pure java system, and the ones that are using in a plural environment, with other implementations, like python, go, etc.

We could workout a version where the default implementation will be more a java idiom, with exceptions, larger numbers, etc, but with a "compatibility" layer, which will "mimic" the ___de facto___

[2018-02-28 19:35] 0x3333 opened #55 "V2 Proposal"
# Version 2.0 Proposal

This issue will be a discussion point to exchange ideas about version 2.0.

## Big picture

The community is urging for a more java idiom version, and the current version can't handle these changes, that's why I'm proposing a new version, incorporating all the needs from the community in a broad discussion.

## What about v2?

The new version must be compatible with origina

[2018-02-28 19:36] 0x3333 commented on #54
[Issue 55 - V2 Proposal](https://github.com/jiecao-fm/hashids-java/issues/55)

[2018-02-28 19:44] #54 closed

[2018-02-28 20:16] cazacugmihai commented on #55
We can include [these](https://github.com/jiecao-fm/hashids-java/pull/53#issuecomment-367466481) points in the `TODO` list.

Also, the `2.0.0` branch can be started from [this](https://github.com/jiecao-fm/hashids-java/pull/53) point.

[2018-04-26 16:15] iggymoran opened #56 "Relax MAX_NUMBER restriction"
I understand the desire to be completely compatible with the Javascript implementation/limitiations, as explained in #47 and in the docs, but is it possible to provide a toggle that disables this functionality?

This would ensure backward compatibility with Javascript's limitations, but would allow this library to make use of the full potential that the Java platform provides.

[2018-04-26 18:44] arcticicestudio commented on #56
I've also proposed this in another issue some time ago and if I remember correctly they planed a v2 which will include some breaking changes like this. [I've also implemented my own library including this feature][ref]. I've found no reason to limit a Java implementation only because the reference algorithm implementation is limited by the chosen language. This library is used within the Java worl

[2018-04-30 19:31] arcticicestudio commented on #56
Might be interesting that there is a new TC39 proposal that [introduces `BigInt` to JavaScript](https://developers.google.com/web/updates/2018/05/bigint), so the current limit will be kind of obsolete.

[2018-05-03 07:31] fanweixiao commented on #56
@arcticicestudio I think we should follow hashids main project spec, to keep exact result in different languages.

[2018-05-03 10:05] 0x3333 commented on #56
I was thinking about this issue, and I believe that the best path is to allow bigger numbers when the user explicitly allow incompatibility with the original spec. This way we can have a version that follows the original implementation and also allows users to loosen up the spec a bit. Something like _"strict mode"_, which is compatible with the original spec, and a _"relaxed mode"_ which is more

[2018-05-03 15:15] fanweixiao commented on #56
Yep, and I’d suggest a PR or Fork for this.

On Thu, May 3, 2018 at 18:05 Tercio Gaudencio Filho <
notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2018-05-22 19:48] kmandeville commented on #55
Has this library gone dark? Haven't been any updates for about 6 months?

[2018-05-22 20:03] 0x3333 commented on #55
I'd would say it is stable... :)

As soon as I have some time, I'll work on 2.0.

[2018-05-23 02:06] kmandeville commented on #55
:)

Yes, definitely stable! I was mainly wondering because of some issues I had been following to see if there were any updates or if there were going to be. It wasn't anything major. Just an edge case around ArrayIndexOutOfBoundsException being thrown. We can work around it though. Thanks!

[2018-05-23 12:29] kmandeville commented on #55
There was one already that I thought you had fixed, but I was waiting for a
new release. It doesn't look like there was one.
https://github.com/jiecao-fm/hashids-java/issues/45

On Wed, May 23, 2018 at 8:22 AM, Tercio Gaudencio Filho <
notifications@github.com> wrote:

[2018-05-23 12:47] 0x3333 commented on #55
It was issued... 1.0.3. Maybe this is another bug...

[2018-08-03 10:00] KangoV commented on #55
Any chance of being able to accept `BigInteger` as input/output?

[2018-09-06 12:38] sourabhlodha opened #57 "Not Able to use BigInteger"
Hi Team,

I have Big Integer which I convert from Hexadecimal. As by default function only take the long but I want to pass the BigInteger.Can you provide me any solution with reference to BigInteger.

[2018-09-06 12:43] 0x3333 commented on #57
@sourabhlodha see issue #55.

[2018-09-06 12:43] #57 closed

[2018-10-03 11:09] sharebear opened #58 "Data lost when using decodeHex"
In our project we wanted to identify if a given string was a valid
HashId. The first version of this utilised `decodeHex` and then tested
to see if the resulting string was empty or not. This validation did
not work for values under 16 thus leading me in the direction of this
strange behaviour of `decodeHex`.

Looking at the implementation the problem seems to be this call to `substring` https://g

[2018-10-03 15:13] 0x3333 commented on #58
Well, I don't know why the `encodeHex` is prefixed with "1", but this makes it non-interoperable between non-Hex` functions. It was added as "MongoDB support" but I could not understand why it should be prefixed with "1".

[2018-10-05 06:13] sharebear commented on #58
This issue can now be closed. I've submitted a PR to improve the documentation around this functionality.

[2018-10-05 06:13] #58 closed

[2018-10-20 21:54] Ladret opened #62 "Same hash output for different input"
Hi,

I have a problem with my code generating the same hash for two separate inputs.

Heres my code:

[code]

Output is:

RqkpK7mW
Rqkpk7mW

This doesn't seem quite right?

[2018-10-20 22:04] 0x3333 commented on #62
Nope, they are different, take a look at  the letter `k` right before number `7`, they are different, upper and lower case. Hashids are case sensitive.

If you don't want to have this, you can provide a different alphabet, like:

[code]

[code]

[2018-10-20 22:04] #62 closed

[2018-10-20 22:09] Ladret commented on #62
Ok, sorry, I missed that, I double checked before posting but could not see the difference.. My apologies.

[2019-04-08 13:07] patrickfav opened #64 "Confusion about supported integer range"
The doc says:

but then it says

And the implementation caps the max number to 2^53 (0-9,007,199,254,740,992)

https://github.com/10cella/hashids-java/blob/162a263c8007652472bf1821a26d33190730f8a5/src/main/java/org/hashids/Hashids.java#L24

--------------

- IF unsigned 64-bit integer was support, it would accept: 2^64 or `0 - 18,446,744,073,709,551,616` (1.8x10^19)
- IF signed 64-bit integer was

[2019-04-08 14:23] 0x3333 commented on #64
This is to be compatible with the original implementation.

Read Limitations on Readme.md, https://github.com/10cella/hashids-java#limitations

[2019-04-08 14:23] #64 closed

[2019-04-08 19:04] patrickfav commented on #64
Ah I see, thanks. Maybe adapt the readme, because 'decodable hashes from unsigned (long) integers' is very misleading as it does not mean unsigned in the primitive type sense, but just that negative numbers are not allowed, it actually uses signed longs.

[2019-04-09 12:44] 0x3333 commented on #64
Feel free to create a PR, would help. Thanks!

[2019-08-19 14:18] lichenhao commented on #47
Why don't use BigInt for Javascript to resolve the number max value in Javascript instead of use a more little number for java ?

[2019-08-19 14:55] 0x3333 commented on #47
We are just a port from JS version.

[2019-08-20 01:22] lichenhao commented on #47
JS version is preparing the BigInt package and will support it with V2. Why don't make the MAX_NUMBER as options instead of final value.

[2019-09-17 02:14] alexyangbjb opened #65 "library support BigInteger ？"
Does the follow-up plan support BigInteger? The JS version seems to have been supported.

[2019-09-18 07:15] yangzhaocheng opened #66 "How to specify max hash length or how to kown hash length if the salt and num's length is Fixed"

[2019-09-18 07:29] #66 closed

[2019-09-18 07:30] yangzhaocheng opened #67 "How to specify max hash length or how to kown hash length if the salt and num's length is Fixed"
#

[2019-11-18 18:41] arianne-detorres opened #68 "hash collision"
Hi, I'm using hashids to encode internal ids in our system, however I noticed a few collisions:

[code]

Returns:
[code]

Any ideas as to how this can happen? From the documentation, it seems this should be impossible.  We're using the latest version (1.0.3)

[2019-11-18 18:48] 0x3333 commented on #68
Same as issue #62 . Letter Z in upper, and lower case. Hashids are case sensitive.

[2019-11-18 18:48] #68 closed

[2019-11-18 18:49] 0x3333 commented on #67
Encode the max_int and you will get it.

[2019-11-18 18:49] #67 closed

[2020-03-23 04:47] nkavian opened #69 "Disable encoding after decoding."
The very end of `_decode` performs a `this.encode` and compares it with the original.

* Can you make it configurable if someone wants this type of redundancy check (via some constructor flag) or just altogether remove it. I haven't measured performance but this seems like it will affect performance.

* It also seems arbitrary to `encode` at the end of `_decode` to perform the check. You could hav

[2020-03-23 04:51] nkavian opened #70 "Update documentation regarding "Encryption""
`Hashids.java` uses the term `Encrypt` and `Decrypt` when the website explicitly says this does not provide encryption. Can you update the documentation? It's easy enough to simply refer to it what it is actually doing `Encode` and `Decode`.

[code]

[2020-04-16 02:53] stjava commented on #65
i need too

[2020-05-01 17:18] eriknyk commented on #55
what happened with v2? still not released...

[2020-08-19 11:28] mohanr opened #71 "Human Readable UUID"
`Hashids hashids = new Hashids("this is my salt");
        String id = hashids.encodeHex("586e8cc62663421eadf9d4efa2bd19f4");`

This gives `yNZEZnb9oDTmEvJpLDqxhw9MQeZ`. Can it be shorter at all ?

[2020-08-19 11:47] 0x3333 commented on #71
Plain simple, no. 😉 You can reduce the number, you will reduce the output.

[2020-08-19 11:47] #71 closed

[2021-04-07 20:15] adrian-skybaker commented on #47
This was a suprise to me as well, as the org.hashids.Hashids#encode(Long) method makes no mention of this, so on paper the interface supports any long.

This seems like something that should be on the javadoc. For random numbers, `ThreadLocalRandom.current().nextLong(Hashids.MAX_NUMBER)` works well.

[2021-05-19 10:14] dnclain opened #73 "Please add Automatic-Module-Name"
Hi,

Hashids can be use in modularized project with the unstable jar name.

Can you add the following into the pom.xml file :

[code]

So that it will be exported as a constant 'org.hashids' module name ?

Thanks a lot.

[2021-05-20 17:36] 0x3333 commented on #73
Fixed.

[2021-05-20 17:36] #73 closed, assigned to nobody

[2021-05-20 17:40] 0x3333 commented on #70
It has been fixed on master in commit e57ed1c4f9. Where did you find these?

[2021-05-20 17:44] 0x3333 commented on #69
Sorry for the late response.

This library is a re-implementation of the Javascript version, for compatibility reasons, I believe this should not be changed.

Reference:
[https://github.com/niieani/hashids.js/blob/master/lib/hashids.ts#L275](https://github.com/niieani/hashids.js/blob/master/lib/hashids.ts#L275)

[2021-05-20 17:44] #69 closed

[2021-06-05 20:19] nkavian commented on #70
Maybe it was the version of the library I was using at the time. Thanks, closing.

[2021-06-05 20:19] #70 closed

[2021-06-05 20:23] nkavian commented on #69
Not a problem, I've since moved away from hashid and use a different solution.

I understand the JavaScript compatibility concern. You could have still considered how to make this configurable to be more amenable to how things should work performantly in Java.

[2021-11-01 12:25] rparvathaneni commented on #11
I just tried rerunning the above test using `Long.MAX_VALUE` as input and the test seem to pass no problem. Any other particular reason to limit the MAX_NUMBER to `9_007_199_254_740_992L`?

[code]

[2021-11-03 12:20] 0x3333 commented on #11
The reason is interop, the javascript version is limited(At least, it was) to `9_007_199_254_740_992L`.

[2021-12-20 12:56] SivaKarthik2120 opened #74 "How to solve IllegalArgumentException in encode."
In encode, we passed a greater number(like 44913000000003047) than fixed MAX_LIMIT(9007199254740992L). How to solve this case and handle any number to encode.

[2022-06-06 07:10] XhstormR commented on #55
ping

[2022-06-07 03:02] fanweixiao commented on #55
@0x3333 seems busy. is there anyone interest in v2.0 implementation? @eriknyk @XhstormR

[2022-06-07 03:07] eriknyk commented on #55
@fanweixiao yes

[2022-06-07 12:17] 0x3333 commented on #55
Hi everyone. Sorry for the long delay, I'm quite busy here.

I believe a v2 is a must, I'll try to work it out next week. Any new requirements?